<nav>
    <div>
        <a href="/">
            <h2>Blog developer</h2>
        </a>
        <p>A developer site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>